
<div fxLayout="row">
    <div fxFlex="25%">Left</div>
    <div fxFlex="50%" fxLayout="column">

        <header>
            Uranium Has Loaded
        </header>
        <section fxLayout="row">
            <div>
                Show An angular component here
                <mat-card>Simple card</mat-card>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                Show An DevExtreme component here
            </div>
        </section>
        <footer>
            Footer
        </footer>

    </div>
    <div fxFlex="25%">Right</div>
</div>

<!--
// -------------------------------------  
// "DevExtreme + Angular Material" project
// Author: Elwood Berry, Senior Frontend Developer @ eberry@viewgol.com
// @2021 
-->