
<div fxLayout="row" class="demo-container">
    <div fxFlex="25%" class="row"><!-- LEFT --></div>
    <div fxFlex="50%" fxLayout="column" class="row">

        <header>
            Uranium Has Loaded
        </header>
        <section fxLayout="row">
            <div fxFlex="48%" class="column">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover;"></div>
                        <mat-card-title>Uranium</mat-card-title>
                        <mat-card-subtitle>Angular Material</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://srinivasmp.com/assets/images/angular-material-518x351.png" alt="">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="48%" class="column">
                Show An DevExtreme component here
                <dx-tag-box></dx-tag-box>
            </div>
        </section>
        <footer>
            "DevExtreme + Angular Material" project | Elwood Berry, Senior Frontend Developer @ eberry@viewgol.com
        </footer>

    </div>
    <div fxFlex="25%" class="row"><!-- RIGHT --></div>
</div>

<!--
// -------------------------------------  
// "DevExtreme + Angular Material" project
// Author: Elwood Berry, Senior Frontend Developer @ eberry@viewgol.com
// @2021 
-->