
<div fxLayout="row" class="demo-container">
    <div fxFlex="25%" class="row">Left</div>
    <div fxFlex="50%" fxLayout="column" class="row">

        <header>
            Uranium Has Loaded
        </header>
        <section fxLayout="row">
            <div fxFlex="48%" class="column">
                Show An angular component here
                <mat-card>Simple card</mat-card>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxFlex="48%" class="column">
                Show An DevExtreme component here
                <dx-tag-box></dx-tag-box>
            </div>
        </section>
        <footer>
            Footer
        </footer>

    </div>
    <div fxFlex="25%" class="row">Right</div>
</div>

<!--
// -------------------------------------  
// "DevExtreme + Angular Material" project
// Author: Elwood Berry, Senior Frontend Developer @ eberry@viewgol.com
// @2021 
-->